<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30002">
		<setting id="iagl_setting_cache_list" type="bool" label="30007" default="true"/>
		<setting id="iagl_setting_mem_cache" type="bool" label="30008" default="true"/>
		<setting id="iagl_setting_clean_list" type="bool" label="30009" default="true"/>
		<setting id="iagl_setting_archive_listings" type="select" label="30010" values="Choose from List|Browse All Lists|Browse by Category" default="Choose from List"/>
		<setting id="iagl_setting_listing" type="select" label="30011" values="One Big List|Choose from List|Alphabetical|Group by Genre|Group by Year|Group by Players|Group by Studio" default="Choose from List"/>
		<setting id="iagl_setting_naming" type="select" label="30012" values="Title|Title, Genre|Title, Date|Title, Players|Title, Genre, Date|Title, Genre, Size|Title, Genre, Players|Title, Date, Size|Title, Date, Players|Genre, Title|Date, Title|Players, Title|Genre, Title, Date|Date, Title, Genre|Players, Title, Genre|Players, Title, Date|Title, Genre, Date, ROM Tag|Title, Genre, Date, Players|Title, Genre, Players, ROM Tag|Title, Genre, Date, Size" default="Title"/>
		<setting id="iagl_setting_items_pp" type="select" label="30013" values="10|25|50|100|150|200|250|300|350|400|450|500|List All" default="List All"/>
		<setting id="iagl_setting_history" type="slider" label="30014" default="10" range="0,1,100" option="int"/>
		<setting id="iagl_setting_localfile_action" type="select" label="30015" values="Prompt|Do Not ReDownload|ReDownload and Overwrite" default="Do Not ReDownload"/>
		<setting id="iagl_setting_default_action" type="select" label="30016" values="Download and Launch|Download Only|Show Info Page" default="Show Info Page"/>
		<setting id="iagl_setting_show_search" type="select" label="30017" values="Show|Hide" default="Show" visible="true"/>
		<setting id="iagl_setting_show_randomplay" type="select" label="30018" values="Show|Hide" default="Show" visible="true"/>
		<setting id="iagl_setting_show_gamehistory" type="select" label="30019" values="Show|Hide" default="Show" visible="true"/>
		<setting id="iagl_setting_show_extras" type="select" label="Show IAGL Extras Item" values="Show|Hide" default="Show" visible="false"/>
		<setting id="iagl_setting_autoplay_trailer" type="select" label="30020" values="No|Yes" default="No"/>
		<setting id="iagl_setting_dl_cache" type="select" label="30021" values="Zero (Current Game Only)|10 MB|25MB|50MB|100MB|150MB|200MB|250MB|300MB|350MB|400MB|450MB|500MB|1GB|2GB|5GB|10GB|20GB" default="Zero (Current Game Only)"/>
		<setting id="iagl_setting_enable_login" type="select" label="30022" values="Enabled|Disabled" default="Disabled"/>
		<setting id="iagl_setting_ia_username" type="text" label="30023" default="" visible="eq(-1,Enabled)"/>
 +		<setting id="iagl_setting_ia_password" type="text" label="30024" default="" option="hidden" visible="eq(-2,Enabled)"/>  
	</category>
	<category label="30003">
		<setting id="iagl_external_user_external_env" type="select" label="30025" values="Select|OSX|Linux/Kodibuntu|Windows|LibreElec Remix|LibreElec Sx05RE|LibreElec S905 Addon|Gamestarter Addon|Android" default="Select" visible="true"/>
		<setting id="iagl_external_launch_close_kodi" type="select" label="30026" values="Disabled|Enabled" default="Disabled" visible="eq(-1,OSX)|eq(-1,Windows)|eq(-1,Linux/Kodibuntu)"/>
		<setting id="iagl_external_launch_pause_kodi" type="select" label="30027" values="Disabled|Enabled" default="Disabled" visible="eq(-2,Linux/Kodibuntu)+!eq(-1,Enabled)"/>
		<setting id="iagl_external_path_to_retroarch" type="executable" label="30028" visible="eq(-3,OSX)|eq(-3,Windows)|eq(-3,Linux/Kodibuntu)"/>
		<setting id="iagl_external_path_to_retroarch_system_dir" type="folder" label="30029" visible="!eq(-4,Select)"/>
		<setting id="iagl_external_path_to_retroarch_cfg" type="file" label="30030" visible="eq(-5,Android)"/>
		<setting label="30031" type="lsep" visible="eq(-6,OSX)|eq(-6,Windows)|eq(-6,Linux/Kodibuntu)"/>
		<setting id="iagl_external_additional_emulator_1_type" type="select" label="30032" values="Disabled|FS-UAE|Project 64 (Win)|Dolphin|MAME Standalone|DEMUL (Win)|ePSXe" default="Disabled" visible="eq(-7,OSX)|eq(-7,Windows)|eq(-7,Linux/Kodibuntu)"/>
		<setting id="iagl_external_additional_emulator_1_path" type="executable" label="30033" visible="!eq(-1,Disabled)"/>
		<setting id="iagl_external_additional_emulator_2_type" type="select" label="30034" values="Disabled|FS-UAE|Project 64 (Win)|Dolphin|MAME Standalone|DEMUL (Win)|ePSXe" default="Disabled" visible="eq(-9,OSX)|eq(-9,Windows)|eq(-9,Linux/Kodibuntu)"/>
		<setting id="iagl_external_additional_emulator_2_path" type="executable" label="30035" visible="!eq(-1,Disabled)"/>
		<setting id="iagl_external_additional_emulator_3_type" type="select" label="30036" values="Disabled|FS-UAE|Project 64 (Win)|Dolphin|MAME Standalone|DEMUL (Win)|ePSXe" default="Disabled" visible="eq(-11,OSX)|eq(-11,Windows)|eq(-11,Linux/Kodibuntu)"/>
		<setting id="iagl_external_additional_emulator_3_path" type="executable" label="30037" visible="!eq(-1,Disabled)"/>
	</category>
	<category label="30004">
		<setting id="iagl_netplay_enable_netplay" type="select" label="30038" values="Enabled|Disabled|Start with Context" default="Disabled"/>
		<setting id="iagl_netplay_hostclient" type="select" label="30039" values="Player 1 Host|Player 2 Client|Spectator" default="Player 1 Host" visible="!eq(-1,Disabled)"/>
		<setting id="iagl_netplay_nickname1" type="text" label="30040" default="Kodi Player 1" visible="!eq(-2,Disabled)+eq(-1,Player 1 Host)"/>
		<setting id="iagl_netplay_nickname2" type="text" label="30040" default="Kodi Player 2" visible="!eq(-3,Disabled)+eq(-2,Player 2 Client)"/>
		<setting id="iagl_netplay_nickname3" type="text" label="30040" default="Kodi Spectator" visible="!eq(-4,Disabled)+eq(-3,Spectator)"/>
		<setting id="iagl_netplay_IP" type="ipaddress" label="30041" visible="!eq(-5,Disabled)+!eq(-4,Player 1 Host)"/>
		<setting id="iagl_netplay_port" type="text" label="30042" default="55435" visible="!eq(-6,Disabled)+!eq(-5,Player 1 Host)"/>
		<setting id="iagl_netplay_frames" type="select" label="30043" values="Enabled|Disabled" default="Disabled" visible="!eq(-7,Disabled)+!eq(-6,Player 1 Host)"/>
	</category>
	<category label="30005">
		<setting label="30044" type="lsep" visible="true"/>
		<setting id="iagl_wizard_launcher" type="select" label="30045" values="External|Kodi Retroplayer" default="Kodi Retroplayer" visible="true"/>
		<setting type="sep"/>
		<setting visible="true" label="30046" type="action" option="close" action="RunScript(special://home/addons/plugin.program.iagl/resources/lib/run_IAGL_wizard.py)"/>
	</category>
	<category label="30006">
		<setting label="30047" type="lsep"/>
		<setting id="iagl_enable_post_dl_edit" type="select" label="30048" values="Disabled|Enabled" default="Disabled"  visible="true"/>
		<setting id="iagl_enable_android_stop_command" type="select" label="30049" values="Enabled|Disabled" default="Enabled"  visible="true"/>
		<setting id="iagl_favorites_format" type="select" label="30050" values="Use Hyperlinks to other Lists|Copies all Data|Copies all Data, adds Post DL Command Override" default="Use Hyperlinks to other Lists"  visible="true"/>
		<setting visible="true" label="30051" type="action" action="RunScript(special://home/addons/plugin.program.iagl/resources/lib/update_addonxml_provides_games.py)"/>
		<setting visible="true" label="30052" type="action" action="RunScript(special://home/addons/plugin.program.iagl/resources/lib/update_addonxml_provides_video.py)"/>
		<setting visible="true" label="30053" type="action" action="RunScript(special://home/addons/plugin.program.iagl/resources/lib/update_addonxml_provides_program.py)"/>
		<setting id="iagl_setting_setcontent" type="select" label="30054" values="movies|tvshows|videos|mixed|games|None" default="tvshows"/>
		<setting type="sep"/>
		<setting visible="true" label="30055" type="action" action="RunScript(special://home/addons/plugin.program.iagl/resources/lib/unhide_all_archives.py)"/>
		<setting type="sep"/>
		<setting visible="true" label="30056" type="action" action="RunScript(special://home/addons/plugin.program.iagl/resources/lib/clear_IAGL_cache.py)"/>
		<setting visible="false" id="iagl_hidden_bool_warn_size" type="bool" label="Display Size Warning" default="true"/>
		<setting visible="false" id="iagl_hidden_bool_tou" type="bool" label="Agree to Terms of Use" default="false"/>
		<setting visible="false" id="iagl_hidden_bool_warn_retroarch_sys_dir" type="bool" label="No System Dir Defined" default="true"/>
	</category>
</settings>